{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnored - Monitoreo de medidores</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'flexboxgrid.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="/static/slugify.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row logo">
            <div class="col-xs-12">
                <a href="{% url 'datos:list' %}"><img src="{% static 'tecnored_logo1.png' %}" alt="tecnored"></a>
            </div>
        </div>
        <div class="row titulo-logo">
            <div class="col-xs-12">
                <h2>Sistema de monitoreo de medidores</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 logout-button">
            {% if user.is_authenticated %}

                <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Cerrar Sesión</button>
                </form>

            {% else %}
            {% endif %}
            </div>
        </div>
    </div>
                
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>