{% extends 'base_layout.html' %} 

{% block content %}
    <h1>Lista Datos</h1>        
    <div class="datos">
        {% for dato in datos %}
            <div class="dato">
                <h2><a href="{% url 'datos:detail' slug=dato.slug %}">{{ dato.titulo }}</a></h2>
                <p>{{ dato.snippet }}</p>
                <p>{{ dato.chrono }}}</p>
                <p>{{ dato.value }}</p>
                <p>{{ dato.quality }}</p>
        </div>          
        {% endfor %}     
    </div>
{% endblock %}      